<?xml version="1.0" ?>
<model>
    <name>simple_maze</name>
    <version>1.0</version>
    <sdf version="1.7">model.sdf</sdf>
    <author>
        <name>Pritam Ranjan Kalita</name>
        <email>preetamk97@gmail.com</email>
    </author>
    <description>A maze world model credit - https://github.com/Preetamk97/Autonomous-Maze-Solving-Turtlebot3-Simulation-Using-Astar-Algorithm </description>
</model>